*.png
*.csv
*.exe
*.dll
assets/
ext_build/
hierarchies/
data/states/
data/kernel_binaries/
Debug/
Release/
build/
.vs/
settings.json
state.dat
fluctus.VC.VC.opendb
fluctus.VC.db
fluctus.vcxproj.filters
fluctus.vcxproj.user
bench.txt